<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <footer th:fragment="siteFooter">
        <nav class="bottom">
            <a href="/interview" class="footer-icon">
                <img src="/img/interview.svg" alt="面接">
                <p class="footer-text">面接</p>
            </a>

            <a href="/questions" class="footer-icon">
                <img src="/img/question.svg" alt="過去問">
                <p class="footer-text">過去問</p>
            </a>

            <a href="/index" class="footer-icon">
                <img src="/img/home.svg" alt="ホーム">
                <p class="footer-text">ホーム</p>
            </a>

            <a href="/es" class="footer-icon">
                <img src="/img/es.svg" alt="ES">
                <p class="footer-text">ES</p>
            </a>

            <a href="/user" class="footer-icon">
                <img src="/img/user.svg" alt="ユーザー">
                <p class="footer-text">ユーザー</p>
            </a>
        </nav>
    </footer>
</body>
</html>