<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CAB/GAB変更 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/administrator.css}" />
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<main>
    <!-- システム統計 -->
    <section class="menu" aria-label="システム統計">
        <p class="note">CAB/GAB変更</p>
        <div class="statistics">
            <div class="form-row">
                <label class="form-label" for="cabgab_content">問題文</label>
                <input type="text" id="cabgab_content" name="cabgabContent" placeholder="問題文を入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="cabgab_answer1">選択肢：A</label>
                <input type="text" id="cabgab_answer1" name="cabgabAnswer1" placeholder="選択肢Aを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="cabgab_answer2">選択肢：B</label>
                <input type="text" id="cabgab_answer2" name="cabgabAnswer2" placeholder="選択肢Bを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="cabgab_answer3">選択肢：C</label>
                <input type="text" id="cabgab_answer3" name="cabgabAnswer3" placeholder="選択肢Cを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="cabgab_answer4">選択肢：D</label>
                <input type="text" id="cabgab_answer4" name="cabgabAnswer4" placeholder="選択肢Dを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="cabgab_correct_answer">解答</label>
                <select id="cabgab_correct_answer" name="cabgabCorrectAnswer">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                </select>
            </div>

            <div class="form-row">
                <label class="form-label" for="cabgab_category">分野</label>
                <select id="cabgab_category" name="cabgabCorrectCategory">
                    <option>言語</option>
                    <option>非言語</option>
                </select>
            </div>

            <!-- 送信ボタン -->
            <button onclick="location.href='/manage/cabgab'" class="button" type="submit">
                保存
            </button>
        </div>
    </section>

    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>