<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ES新規作成 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<header>
    <!-- ヘッダー呼び出し -->
    <div th:replace="common/header :: siteHeader"></div>
</header>

<body>
<main>
    <section class="menu" aria-label="ES新規作成">
        <form action="/es-submit" method="post">
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="company-name">企業名</label>
                    <textarea id="company-name" name="companyName" placeholder="企業名を入力してください" class="title"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="motivation">志望動機</label>
                    <textarea id="motivation" name="motivation" placeholder="志望動機を入力してください" class="title"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="self-pr">自己PR</label>
                    <textarea id="self-pr" name="selfPr" placeholder="自己PRを入力してください" class="title"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="effort">学生時代力を入れたこと</label>
                    <textarea id="effort" name="effort" placeholder="学生時代力を入れたことを入力してください" class="title"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="strengths">長所短所</label>
                    <textarea id="strengths" name="strengths" placeholder="長所短所を入力してください" class="title"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <button type="submit" class="texts center-texts">送信</button>
            </div>
        </form>
    </section>
    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>