<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ES新規作成 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader"></header>
    <main>
        <form action="/es-submit" method="post" class="menu">
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="company-name">企業名</label>
                    <textarea id="company-name" name="companyName" placeholder="企業名を入力してください"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="motivation">志望動機</label>
                    <textarea id="motivation" name="motivation" placeholder="志望動機を入力してください"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="self-pr">自己PR</label>
                    <textarea id="self-pr" name="selfPr" placeholder="自己PRを入力してください"></textarea>
                </div>

            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="effort">学生時代力を入れたこと</label>
                    <textarea id="effort" name="effort" placeholder="学生時代力を入れたことを入力してください"></textarea>
                </div>
            </div>
            <div class="menu-item">
                <div class="texts">
                    <label class="title" for="strengths">長所短所</label>
                    <textarea id="strengths" name="strengths" placeholder="長所短所を入力してください"></textarea>
                </div>
            </div>

            <!-- 送信ボタン -->
            <button class="button-center" type="submit">
                送信
            </button>
        </form>
        <div class="spacer" aria-hidden="true"></div>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>