<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader"></header>
    <main>
        <section class="menu" aria-label="メニュー">
            <a class="note">ESを作成してみよう</a>

            <div onclick="location.href='./es-creation'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="SPI">
                <div class="texts">
                    <p class="title">新規作成</p>
                    <p class="desc">テンプレートから作成</p>
                </div>
            </div>

            <div onclick="location.href='./es-creation'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="SPI">
                <div class="texts">
                    <p class="title">作成済みES</p>
                    <p class="desc">編集管理</p>
                </div>
            </div>
        </section>

        <section class="menu" aria-label="最近の作業">
            <a class="note">最近の作業</a>

            <div onclick="location.href='./es-creation'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="SPI">
                <div class="texts">
                    <p class="title">あいうえお</p>
                    <p class="desc">かきくけこ</p>
                </div>
            </div>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>