<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SPI変更 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/administrator.css}" />
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<main>
    <!-- システム統計 -->

    <section class="menu" aria-label="システム統計">
        <p class="note">SPI変更</p>
        <div class="statistics">
            <div class="form-row">
                <label class="form-label" for="spi_content">問題文</label>
                <input type="text" id="spi_content" name="spiContent" placeholder="問題文を入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="spi_answer1">選択肢：A</label>
                <input type="text" id="spi_answer1" name="spiAnswer1" placeholder="選択肢Aを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="spi_answer2">選択肢：B</label>
                <input type="text" id="spi_answer2" name="spiAnswer2" placeholder="選択肢Bを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="spi_answer3">選択肢：C</label>
                <input type="text" id="spi_answer3" name="spiAnswer3" placeholder="選択肢Cを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="spi_answer4">選択肢：D</label>
                <input type="text" id="spi_answer4" name="spiAnswer4" placeholder="選択肢Dを入力">
            </div>

            <div class="form-row">
                <label class="form-label" for="spi_correct_answer">解答</label>
                <select id="spi_correct_answer" name="spiCorrectAnswer">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                </select>
            </div>

            <div class="form-row">
                <label class="form-label" for="spi_category">分野</label>
                <select id="spi_category" name="spiCorrectCategory">
                    <option>言語</option>
                    <option>非言語</option>
                </select>
            </div>

            <!-- 送信ボタン -->
            <button onclick="location.href='/manage/spi'" class="button" type="submit">
                保存
            </button>
        </div>
    </section>

    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>