<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ管理メイン画面</title>
    <link rel="stylesheet" th:href="@{/css/administrator.css}" />
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<main>
    <!-- SPIメイン画面 -->
    <p class="note">SPI問題管理</p>
    <section class="menu" aria-label="SPI問題リスト">
        <div class="sort statistics">
            <div class="form-row">
                <label class="form-label" for="user-name">ユーザ名で絞り込む</label>
                <input type="text" id="user-name" name="userName" placeholder="ユーザ名を入力">
            </div>
            <div class="radio">
                <!-- ラジオボタンのcssがボタン選択によって変化する事を確かめるために仮でnameやidをつけています -->
                <input type="radio" name="status" id="all" checked>
                <label for="all">すべて</label>

                <input type="radio" name="status" id="active">
                <label for="active">利用中</label>

                <input type="radio" name="status" id="stop">
                <label for="stop">停止中</label>
            </div>
        </div>
    </section>

    <section class="menu" aria-label="SPI問題管理">
        <div class="menu-item" onclick="location.href='./spi/edit'">
            <div class="texts">
                <p class="">言語</p>
                <p class="note">「鳥：飛ぶ」と同じ関係にあるものを、次の選択肢から選びなさい。</p>
            </div>
        </div>
    </section>




    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<button onclick="location.href='./spi/add'" class="fab-register">新規登録 ＋</button>
</body>
</html>