<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>面接トップ画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<header>
    <!-- ヘッダー呼び出し -->
    <div th:replace="common/header :: siteHeader"></div>
</header>

<body>
    <main>
        <section class="menu" aria-label="面接対策">
            <article class="menu-item">
                <img src="/img/video_white.svg" alt="カメラ">
                <div class="texts">
                    <p class="title">Web面接練習</p>
                    <p class="desc">カメラを使った本番形式の面接練習</p>
                </div>
            </article>

            <article class="menu-item">
                <img src="/img/file_log.svg" alt="ファイル">
                <div class="texts">
                    <p class="title">面接ログ</p>
                    <p class="desc">過去の面接記録と評価を確認</p>
                </div>
            </article>

            <article class="menu-item">
                <img src="/img/info.svg" alt="情報マーク">
                <div class="texts">
                    <p class="title">面接のコツ</p>
                    <p class="desc">カメラの目線の高さを調整し、明るい場所で練習しましょう。 結論から話すPREP法を意識すると、より説得力のある回答になります。</p>
                </div>
            </article>
        </section>
    </main>
</body>

<footer>
    <!-- フッター呼び出し -->
    <div th:replace="common/footer :: siteFooter"></div>
    Mirai by ぎじゅつりょくがすごい人たち
</footer>
</html>
