<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>面接ログ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader"></header>
    <main>
        <section class="menu" aria-label="面接結果レーダー">
            <a class="note">スコア推移</a>
            <p class="menu-item texts desc">グラフが表示される予定のセクション。</p>
        </section>

        <section class="menu" aria-label="面接結果レーダー">
            <a class="note">練習履歴</a>
            <button class="button-center menu-item" onclick="location.href='./'" type="button">
                <span class="box">xx点</span>
                <span class="note">2025年1月1日</span>
            </button>

            <button class="button-center menu-item" onclick="location.href='./'" type="button">
                <span class="box">xx点</span>
                <span class="note">2025年1月2日</span>
            </button>

            <button class="button-center menu-item" onclick="location.href='./'" type="button">
                <span class="box">xx点</span>
                <span class="note">2025年1月3日</span>
            </button>
        </section>
    </main>
    <footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>