<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>面接トップ画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('interviewHeader')"></header>
    <main>
        <section class="menu" aria-label="面接対策">
            <a href="/interview/do" class="menu-item">
                <img class="img" src="/img/video.svg" alt="カメラ">
                <div class="texts">
                    <p class="title">Web面接練習</p>
                    <p class="desc">本番形式の面接練習</p>
                </div>
            </a>

            <a href="/interview/log" class="menu-item">
                <img class="img" src="/img/file.svg" alt="ファイル">
                <div class="texts">
                    <p class="title">面接ログ</p>
                    <p class="desc">過去の面接記録と評価を確認</p>
                </div>
            </a>

            <a class="menu-item">
                <img class="img" src="/img/info.svg" alt="情報マーク">
                <div class="texts">
                    <p class="title">面接のコツ</p>
                    <p class="desc">目線の高さを調整し、明るい場所で練習しましょう。</p>
                    <p class="desc">結論から話すPREP法を意識すると、より説得力のある回答になります。</p>
                </div>
            </a>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>

</html>
