<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>400エラー画面</title>
    <link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>
<main class="auth-container">
    <section class="menu">
        <img class="img" src="/img/error.svg" alt="400エラー画面">

        <p class="title">ページが見つかりません</p>

        <p class="text">
            お探しのページは存在しないか<br>
            移動した可能性があります。
        </p>

        <!-- 再試行ボタン -->
        <button class="button button-primary" onclick="location.href='./'" type="button">
            再試行
        </button>

        <!-- ホームボタン -->
        <button class="button button-white" onclick="location.href='/index'" type="button">
            ホームに戻る
        </button>

        <p class="note">問題が解決しない場合は、サポートまでご連絡ください。</p>
    </section>
</main>
</body>
</html>