<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ようこそ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('indexHeader')"></header>

    <main>
        <!-- 現在の目標 -->
        <section class="menu" aria-label="目標セクション">
            <div class="menu-item">
                <img class="img" src="/img/user.svg" alt="目標">
                <div class="texts">
                    <p class="title">現在の目標</p>
                    <p class="note">株式会社〇〇 最終面接</p>
                    <p class="note">残り〇日</p>
                </div>
            </div>

            <!-- メニュー -->
            <a class="note">メニュー</a>

            <div onclick="location.href='./interview'" class="menu-item">
                <img class="img" src="/img/interview.svg" alt="面接">
                <div class="texts">
                    <p class="title">面接練習</p>
                    <p class="desc">WEB面接を試してみよう</p>
                </div>
            </div>

            <div onclick="location.href='./questions'" class="menu-item">
                <img class="img" src="/img/question.svg" alt="面接">
                <div class="texts">
                    <p class="title">過去問稽古場</p>
                    <p class="desc">SPI・CAB/GABの勉強をしよう</p>
                </div>
            </div>

            <div onclick="location.href='./es'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="面接">
                <div class="texts">
                    <p class="title">エントリーシート</p>
                    <p class="desc">ESを添削してみよう</p>
                </div>
            </div>

            <!--FIXME 管理者のみ実行可能に変更予定 -->
            <div onclick="location.href='./manage'" class="menu-item">
                <img class="img" src="/img/settings.svg" alt="管理">
                <div class="texts">
                    <p class="title">管理者画面</p>
                    <p class="desc">ユーザを管理しよう</p>
                </div>
            </div>
        </section>

        <div class="spacer" aria-hidden="true"></div>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>