<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ようこそ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/script.js}"></script>
</head>

<body>
<header th:replace="common/header :: siteHeader"></header>
    <main>
        <section class="menu" aria-label="目標セクション">
            <a class="note">あなたの目標</a>
            <div class="company" th:text="${goal_target}">株式会社〇〇〇〇〇 最終面接</div>
            <div class="countdown" th:text="'目標まであと ' + ${goal_remaining} + ' 日'">目標まであと〇日</div>
        </section>

        <section class="menu" aria-label="メニュー">
            <a class="note">メニュー</a>

            <div onclick="location.href='./interview'" class="menu-item">
                <img class="img" src="/img/interview.svg" alt="面接">
                <div class="texts">
                    <p class="title">面接練習</p>
                    <p class="desc">WEB面接を試してみよう</p>
                </div>
            </div>

            <div onclick="location.href='./questions'" class="menu-item">
                <img class="img" src="/img/questions.svg" alt="面接">
                <div class="texts">
                    <p class="title">過去問稽古場</p>
                    <p class="desc">SPI・CAB/GABの勉強をしよう</p>
                </div>
            </div>

            <div onclick="location.href='./es'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="面接">
                <div class="texts">
                    <p class="title">エントリーシート</p>
                    <p class="desc">ESを添削してみよう</p>
                </div>
            </div>
        </section>

        <div class="spacer" aria-hidden="true"></div>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>