<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ユーザ管理メイン画面</title>
    <link rel="stylesheet" th:href="@{/css/administrator.css}" />
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<main>
    <!-- 管理者メニュー -->
    <section class="menu" aria-label="ユーザリスト">
        <div class="sort">
            <!-- ラジオボタンのcssがボタン選択によって変化する事を確かめるために仮でnameやidをつけています -->
            <input type="radio" name="status" id="all" checked>
            <label for="all">すべて</label>

            <input type="radio" name="status" id="active">
            <label for="active">利用中</label>

            <input type="radio" name="status" id="stop">
            <label for="stop">停止中</label>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">たまーにラッキー</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role admin">管理者</p>
                <p class="status active">利用中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">たまーにヨッシー</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status active">利用中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">たまーにスズッキー</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status active">利用中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">オニヤンマ</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status inactive">停止中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">オニヤンマ</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status inactive">停止中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">オニヤンマ</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status inactive">停止中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">オニヤンマ</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status inactive">停止中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">オニヤンマ</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status inactive">停止中</p>
            </div>
        </div>

        <div class="menu-item">
            <div class="texts">
                <p class="title">オニヤンマ</p>
                <p class="desc">最終ログイン：1時間前</p>
                <p class="desc">作成日：2025/12/03</p>
            </div>

            <div class="meta">
                <p class="role normal">利用者</p>
                <p class="status inactive">停止中</p>
            </div>
        </div>
    </section>
    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<button onclick="location.href='./users/add'" class="fab-register">新規登録 ＋</button>
</body>
</html>