<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/script.js}"></script>
</head>

<header>
    <!-- ヘッダー呼び出し -->
    <div th:replace="common/header :: siteHeader"></div>
</header>

<body>
<main>
    <section class="menu" aria-label="CAB・GABメイン">
        <a href="cabgab-do" class="menu-item">
            <div class="texts">
                <p class="title">問題1</p>
            </div>
        </a>
    </section>
</main>
</body>

<footer>
    <!-- フッター呼び出し -->
    <div th:replace="common/footer :: siteFooter"></div>
    Mirai by ぎじゅつりょくがすごい人たち
</footer>
</html>