<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>


<body>
<header th:replace="common/header :: siteHeader('questionMainHeader')"></header>
    <main>
        <section class="menu" aria-label="SPI">
            <div onclick="location.href='./spi'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="SPI">
                <div class="texts">
                    <p class="title">SPI</p>
                    <p class="desc">言語・非言語・性格検査</p>
                    <p class="note">・言語10問</p>
                    <p class="note">・非言語15問</p>
                    <p class="note">・制限時間60分</p>
                </div>
            </div>
        </section>

        <section class="menu" aria-label="CABGAB">
            <div onclick="location.href='./cabgab'" class="menu-item">
                <img class="img" src="/img/es.svg" alt="SPI">
                <div class="texts">
                    <p class="title">CAB・GAB</p>
                    <p class="desc">理論思考力・計数能力</p>
                    <p class="note">・暗記問題10問</p>
                    <p class="note">・法則性15問</p>
                    <p class="note">・制限時間60分</p>
                </div>
            </div>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>