<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('spiMainHeader')"></header>
    <main>
        <section class="menu" aria-label="SPIメイン">
            <a href="/spi/study" class="menu-item">
                <div class="texts">
                    <p class="title">問題1</p>
                </div>
            </a>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>

</html>